<div class="container">
  <form [formGroup]="loginForm" class="example-form" (ngSubmit)="login()">
    <h2 class="">Please sign in</h2>

    <mat-form-field class="example-full-width">
      <input matInput type="email" class="form-control" placeholder="Email address" formControlName="username"
        name="username" />
        <mat-error *ngIf="loginForm.controls.password.errors?.required">
            Field <strong>required</strong>
          </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" class="form-control" placeholder="Password" formControlName="password"
        name="password" />
        <mat-error *ngIf="loginForm.controls.password.errors?.required">
            Field <strong>required</strong>
          </mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Sign in</button>
    </div>
    <div *ngIf="message !== ''">
      {{message}}
    </div>
    <hr>
    <p>
      Not a member? <a [routerLink]="['/signup']">Signup here</a>
    </p>
  </form>
</div>