<div class="container">
  <form [formGroup]="signupForm" class="example-form" (ngSubmit)="signup()">
    <h2 class="">Sign Up Now</h2>
    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Email address" formControlName="username" name="username" />
      <mat-error *ngIf="signupForm.controls.username.errors?.required">
        Field <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" formControlName="password" name="password" />
      <mat-error *ngIf="signupForm.controls.password.errors?.required">
        Field <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
    </div>
    <div *ngIf="message !== ''">
      {{message}}
    </div>
    <hr>
    <p>
      Already a member? <a [routerLink]="['/login']">Login here</a>
    </p>
  </form>
</div>